a.button {
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    background-color: azure;
    border: 2px solid gray;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}
th {
    padding: 5px;
    border: 1px solid black;
}
table {
    border: 1px solid black;
}
span.error{
    color: red;
}