<form tpl-if="$loggedIn" method="post" action="index.php?command=save&id={{ $id }}">
    <div tpl-if="$errors" id="error-block">
        <li tpl-foreach="$errors as $error">{{ $error }}</li>
        <br>
    </div>
    {{ FIRST_NAME }}:<br>
    <input type="text" name="firstName" value="{{ $firstName }}"><br>
    {{ LAST_NAME }}:<br>
    <input type="text" name="lastName" value="{{ $lastName }}"><br>
    {{ PHONE_NUMBERS }}:<br>
    <input type="text" name="phone1" value="{{ $phone1 }}"><br>
    <input type="text" name="phone2" value="{{ $phone2 }}"><br>
    <input type="text" name="phone3" value="{{ $phone3 }}"><br>
    <input type="submit" name="submitButton" value="{{ SAVE }}">
</form>