<table tpl-if="$loggedIn">
    <thead>
    <tr>
        <th>{{ FIRST_NAME }}</th>
        <th>{{ LAST_NAME }}</th>
        <th>{{ PHONE_NUMBER }}</th>
    </tr>
    </thead>
    <tbody>
        <tr tpl-foreach="$persons as $person">
            <th><a href="index.php?command=edit&id={{ $person->getId() }}" >{{ $person->getFirstName() }}</a></th>
            <th>{{ $person->getLastName() }}</th>
            <th>{{ $person->getPhonesAsString() }}</th>
        </tr>
    </tbody>
</table>
