<form method="post" action="index.php?command=login">
    <div id="error-block">
        {{ $errorMessage }}
    </div>
    <div>
        <table>
            <tr>
                <td>{{ USERNAME }}:</td>
                <td><input type="text" name="username" value="{{ $username }}"></td>
            </tr>
            <tr>
                <td>{{ PASSWORD }}:</td>
                <td><input type="text" name="password" value="{{ $password }}"></td>
            </tr>
        </table>
        <input type="submit" name="loginButton" value="{{ LOG_IN }}">
    </div>
</form>