<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>ICD0007</title>
</head>
<body>

<div tpl-if="$loggedIn" class="menu">
    <a href="index.php?command=show_list_page" class="button" id="list-page-link">{{ LIST }}</a>
    <a href="index.php?command=show_add_page" class="button" id="add-page-link">{{ ADD }}</a>
    <a href="index.php?command=logout" class="button" id="log-out-link">{{ LOG_OUT }}</a>
</div>
<br>
<hr>
<main>
    <div tpl-include="{{ $path }}"></div>
</main>
<br>
<div class="footer">
    <table>
        <tr>
            <td><a href="index.php?changeLang=en" id="lang-en-link">{{ ENGLISH }}</a></td>
            <td><a href="index.php?changeLang=et" id="lang-et-link">{{ ESTONIAN }}</a></td>
        </tr>
    </table>
</div>
</body>
</html>